site_name: Cambridge Isotope X PinPoint Reporting Documentation
site_dir: templates/docs

theme: material

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google